.displayuser{
    position:absolute;
    left: 25%;
    top: 10vh;
    width: 50vw;
    height: 30vw;
    border: 2px solid black;    
}

.logoutbtn{
    
    position: absolute;
    bottom: -5vw;
    left: 0%;
    z-index: 200;
    height: 5vw;
    width: 20%;
    
}

#changebackground{
        position: absolute;
    bottom: -5vw;
    left: 20%;
    z-index: 200;
    height: 5vw;
    width: 80%;
    
}

#profileimage{
    
    border: 2px solid black;
    position: absolute;
    height: 35%;
    width: 18%;
}

#userinfo{
    
    position: absolute;
    height: 64%;
    top: 45%;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    
}

button{
    
    font-size: 1.4vw;
    
}