
hmtl{
    overflow: hidden;
}



      
      
        
        .homebtn:focus{}

@keyframes background{
    0%, {transform:scale(1)}
    100% {transform:scale(1.4) }
    
}

@keyframes studiescurved {
   
    0% { right:80vw; top:0vh;}
  
  100% {right:80vw; top:25vh;}
}

@keyframes mecurved {
    0%   { right:60vw; top:100vh;}
    100% { right:60vw; top:25vh;}
}

@keyframes futurecurved {
    0%   { right:40vw; top:0vh;}
    100% { right:40vw; top:25vh;}
}

@keyframes resumecurved {
    0%   { right:20vw; top:100vh;}
    100% { right:20vw; top:25vh;}
}

@keyframes logodivcurved {
    0%   { left:38vw; top:45vh;}
    100% { left:38vw; top:75vh;}
}

@keyframes div1studies {
    0%   { left:2vw; top:0vh;}
    25%  { left:4vw; top:2vh;}
    50%  { left:6vw; top:5vh;}
    75%  { left:8vw; top:7vh;}
    100% { left:10vw; top:10vh;}
}


.background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(background.png);
    background-size: 100%;
    -webkit-box-shadow: 30px 30px 80px 0px rgba(107,97,107,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(107,97,107,1);
    box-shadow: 30px 30px 80px 0px rgba(107,97,107,1);
    background-repeat: no-repeat;
   
    
    transition: 2s cubic-bezier(1,-0.23,.95,.63);
    
}
        
        .home{
               color: white; height: 100vh; width: 100vw; transition: 2s cubic-bezier(1,-0.23,.95,.63);
            
        }
        
        .about{
            background-size: 100%; color: white; height: 100vh; width: 100vw; position: absolute; left: 100%; top:0; transition:  2s cubic-bezier(1,-0.23,.95,.63);
        }

        
        .about:hover .line{
          border:1px outset white; width:100vw; height:1px; position: relative; top: 50px; opacity: 0.7; left: 0px;
        }
        

        
        .about:hover .line2{
          border:1px inset white; width:1px; height:100vh; position: absolute; top: 0px; opacity: 0.7; right: 5%;
        }
        
        .work{
             background-size: 100%; color: white; height: 100vh; width: 100vw; position: absolute; left: 200%; top:0; transition:  2s cubic-bezier(1,-0.23,.95,.63);
        }
        
        .contact{ background-size: 100%; color: white; height: 100vh; width: 100vw; position: absolute; left: 300%; top: 0; transition:  2s cubic-bezier(1,-0.23,.95,.63);
        }
        
        .colwhite{
        color:white;
        }
    
        .navigation{background-color: #7b827c;  width: 100vw; height: 3.4vw; position:fixed; top: 0; left: 0vw; z-index: 201; font-family: 'Open Sans Condensed', sans-serif; font-size: 1.7vw; display: inline-block; transition: 2s ease; border-bottom: 2px solid #703632;}
        
        .navigationup{background-color: #7b827c;  width: 100vw; height: 60px; position:fixed; top: -62px; left: 0vw; z-index: 201; font-size: 2em; display: inline-block; transition: 2s ease;}

        #menu{
        position:fixed;
        left:15vw;
        } 
        
        .hiddenspan, .scroll{
        opacity:1;
        transition: 1s cubic-bezier(.83,.69,.56,1.56);
        }
        
        .navigation a{
            box-shadow: 0px 0px 0px 0.3px rgba(255,255,255, 0.3);
            transition: 1s cubic-bezier(.83,.69,.56,1.56);
             
        }
        
        a:hover .hiddenspan, .scroll { opacity: 1;}
        
        .navhover{ padding: 10px 0px 10px 0px; color: white; height: 100%;
        }
        
        .navhover:hover, .navhover:active, .navhover:focus{
            background-color: white;
            color: #7b827c;
            text-decoration: none;
        }
        
        .navhover:focus .hiddenspan{
            opacity:1;
        }
        
        .niklasnauber{
            position:relative;
            left: 0vw;
            top: 0vh;
            z-index: 120;
            height: 0vh;
            width: 0vw;
            display: inline-block;
        }

#z-index200{
    position: relative;
    top: 20vh;
    z-index: 200;
    border: 2px solid black;
    
}

        
        #scrolls .scroll{
            height: 100px;
            position: relative;
            right: 5vw;
            top: -50px;
            margin-bottom: -100px;
        }
        
        #scrolls{
            transition: 2s cubic-bezier(.07,.54,.74,1.05);
            position: relative;
            background-color: 'black'!important;
        }

        
        .active{
            background-color: white;
            color:#738070;
            text-decoration: none;
            
        };
        
        #homemoon{
            position: absolute;
            top: 500px;
            margin: auto;
            transition: 4s cubic-bezier(.83,.69,.56,1.56);
            
            
        }

#homemoon{
    animation: rotate 15s linear infinite;
}

@keyframes rotate{
    0% {transform:rotateZ(0deg);}
    100% {transform:rotateZ(360deg);}
}
        
        .hometextdiv{
            position: absolute;
            width: 100vw;
            height:100vh;
            overflow: hidden;
        }

        #hometext{
            position: absolute;
            top: 20vh;
            left: 27.4vw;
            width: 45vw;
            height: 45vh;
            border: none;
            background-color: rgba(0,0,0, 0);
            text-align: center;
            text-decoration: none;
            padding:0;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #003300;
            overflow: hidden;
        }

            #hometext:focus {
            outline: 0;
            }

            .homemaindiv{
            position: absolute;
            top: 7vh;
            left: 50vw;
            width: 1vw;
            height: 45vh;
            border-bottom: 1px solid rgb(188, 188, 188);
            transition:0.5s ease;
            overflow: hidden;
            }
        
        .abouttextdiv{
            position: relative;
            top: -25vh;
            height:2em;
        }
        
        .worktextdiv{
            position: relative;
            top: -25vh;
            height:2em;
        }
        
        .aboutastronaut{
            transition: 1s ease;
            color:white;
            text-decoration: none;
        }
        
        .aboutastronaut:active, .aboutastronaut:hover, aboutastronaut:focus{
            color:black;
            background-color:white;
            text-decoration: none;
        }


.arrowtags{
    color:#6f826b;
    text-decoration: none;
    font-size: 5em;
    border-radius:30%;
    position: absolute;
    top:40vh;
    width: 6vw;
    height:9vh;
    z-index: 224;
    padding:1vw;
    transition: 1s ease;
}

       
.arrowtags:active, .arrowtags:focus, .arrowtags:hover{
           filter: brightness(1.2);
}

.arrowleft{
    left:3.5vw;
}

.arrowright{
    right:3.5vw;
}

#workleftarrow{
    background-image: url(leftarrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#workrightarrow{
    background-image: url(rightarrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.aboutmouseover{
   filter: brightness(1.15);
   
   
    
}

.aboutmouseleave{
   filter: brightness(1.1);
   
    
}

.emailform{
    color: black;
}

.contactremoveadd{
    width: 100vw;
    height: 100vh;

}

#removeadd{
    width: 100vw;
    height: 100vh;
    left:-3vw;
}

.contactmaindiv{
            position: absolute;
            top: 15vh;
            left: 50vw;
            width: 40vw;
            height: 70vh;
            border-left: 1px solid rgb(188, 188, 188);
            transition:0.5s ease;
            overflow: hidden;
            }

.homebtns{
    filter:brightness(1.1);
        cursor:pointer;
}

.aboutremoveadd{
position: absolute;
    left: 2vw;
}

.aboutmaindiv{
            position: absolute;
            top: 26vh;
            left: 4vw;
            width: 60vw;
            border-left: 1px solid rgb(188, 188, 188);
            transition:0.5s ease;
            overflow: hidden;
            }

.studies1{
    position : absolute;
    top:2vh;
    left:-30.5vw;
    width: 20vw;
    height:30vw;
    transition: 1.5s ease;
    background-image: url(profilbild.png);
    background-repeat:no-repeat;
    background-size:100%;
}

.studies2{
    position : absolute;
    top:4vh;
    left:-30.5vw;
    width: 30vw;
    height:40vw;
    transition: 1.5s ease;
    background-image: url(studies2.png);
    background-repeat:no-repeat;
    background-size:100%;
    
}

.studies3{
    position : absolute;
    top:4vh;
    left:-30.5vw;
    width: 30vw;
    height:40vw;
    transition: 1.5s ease;
    background-image: url(studies3.png);
    background-repeat:no-repeat;
    background-size:100%;   
}

.me1{
    position : absolute;
    top:4vh;
    left:-30.5vw;
    width: 30vw;
    height:45vw;
    transition: 1.5s ease;
    background-image: url(me1.png);
    background-repeat:no-repeat;
    background-size:100%;    
}

.me2{
    position : absolute;
    top:4vh;
    left:-30.5vw;
    width: 30vw;
    height:45vw;
    transition: 1.5s ease;
    background-image: url(me2.png);
    background-repeat:no-repeat;
    background-size:100%;    
}

.me3{
    position : absolute;
    top:5vh;
    left:-30.5vw;
    width: 20vw;
    height:20vw;
    transition: 1.5s ease;
    background-image: url(profilbild.png);
    background-repeat:no-repeat;
    background-size:100%;   

}


.resume1{
    position : absolute;
    top:10vh;
    left:-30.5vw;
    width: 15vw;
    height:23vw;
    transition: 1.5s ease;
    background-image: url(profilbild.png);
    background-repeat:no-repeat;
    background-size:100%;    
}

.resume2{
    position : absolute;
    top:0vh;
    left:-30.5vw;
    width: 30vw;
    height:40vw;
    transition: 1.5s ease;
    background-repeat:no-repeat;
    background-size:100%;   
}

.resume3{
    position : absolute;
    top:10vh;
    left:-30.5vw;
    width: 15vw;
    height:23vw;
    transition: 1.5s ease;
    background-image: url(profilbild.png);
    background-repeat:no-repeat;
    background-size:100%;    
}


.cursor:hover{
    cursor: pointer;
}
.skipintro:hover{
    filter: brightness(1.2)
}
      

      
          .computerdevices{
        position:fixed;
        width: 100%;
        height:100%;
        display:block;
        z-index: 1000;
        opacity:1;
        transform: scale(0.5)
      }
    

      
      .watchproject{
          position:absolute;
          bottom: 0;
          left:0;
          height:15%;
          width:100%;
          background-image: url(watchproject2.png);
          background-size: 100%;
          background-repeat:no-repeat;
          transition: 1s ease;
          padding: 6% 0% 5% 34%;
          font-family: 'Slabo 13px', serif;
          font-size:1.6em;
          color: #6e1c2a;
          text-decoration:none;
          border-top: 1.2px solid #6e1c2a;
          border-bottom: 1.2px solid #6e1c2a;
      }
      
        .watchproject:hover{
          filter: brightness(1.9);
        cursor: pointer;
            text-decoration:none;
            color: #6e1c2a;
      }








@media screen and(min-width: 0px) 
  and (max-width: 568px) {
      
      .mobilemessage{
           position:fixed;
        width: 100%;
        height:100%;
        background-color: #6e1c2a;
          color: white;
        display:block;
        z-index: 1000;
        opacity:1;
        transform: scale(1)
      }
      
                .computerdevices{
        position:fixed;
        width: 100%;
        height:100%;
        display:block;
        z-index: 1000;
        opacity:1;
        transform: scale(0)
            display:none;
      }

}





    
