body{
  background-image: url(resources/bg.png);
  background-size: cover;
  margin: 0;
  color: white;
}
#logo{
  background-image: url(resources/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height:100px;
}
#menu{
  width: 220px;
  height: 100vh;
  border: 1px solid black;
  background-image: url(resources/bg2.png);
  background-size: contain;
  float: left;
  padding-top: 20px;
}

.
#menuLoggedIn, #menuLogin, #allquestions, #results{
  /*
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    */
}
#Culture{
  background-image: url(resources/bg.culture.png);
  background-size: cover;
}
#Sports {
  background-image: url(resources/sports.png);
  background-size: cover;
}
#Books{
  background-image: url(resources/books.png);
  background-size: cover;
}
#Celebrities{
  background-image: url(resources/celebs.png);
  background-size: cover;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.allquestions{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.question{
  border: 1px solid grey;
  text-align: center;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.answers{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 10px;
}
.answers button{
  margin-right: 10px;
  width: 140px;
}
.a1{
  order: 1;
}
.a2{
  order: 2;
}
.a3{
  order: 3;
}
.correct{
  background-color: lightgreen;
}

.current-question-div{
    border: 2px solid white;
    color: white;
    
}
