body{
    font-family: verdana; Raleway; Ubuntu; times new roman;
    background-image:url(http://cdn.paper4pc.com/images/grayscale-wallpaper-8.jpg)
}

.dropbtn { 
color: white; 
 
font-size: 20px; 
font-family: times; 
border: none; 
cursor: pointer; 
border-radius: 5px; 
z-index:1; 
} 

.dropbtn:hover, .dropbtn:focus { 
background-color: #e0e3e5; 
color:black;
} 


.dropdown-content { 
display: none; 
position: absolute; 
background-color: #f9f9f9;  
overflow: auto; 
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
z-index:1;
font-size: 0.81em;
} 

.dropdown-content a { 
color: black; 
padding: 12px 16px; 
text-decoration: none; 
display: block; 
} 

.dropdown-content a:hover { 
background-color: #f1f1f1; 
opacity:0.5;
} 

.show { 
display:block; 
} 

/*-----THE CANVAS + BELONGING ELEMENTS------------------------------------------*/
#myCanvas{ 

border:1px solid black;
  
background: -moz-linear-gradient(top, rgba(169,3,41,0.92) 0%, rgba(169,3,41,1) 7%, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(169,3,41,0.92) 0%,rgba(169,3,41,1) 7%,rgba(169,3,41,1) 13%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(169,3,41,0.92) 0%,rgba(169,3,41,1) 7%,rgba(169,3,41,1) 13%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba90329', endColorstr='#6d0019',GradientType=0);
box-shadow: 4px 8px 16px 0px rgba(1,3,6,0.6); 
    
margin: 0 auto;
} 

#redigera{
min-width: 100%; 
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
align-content: center;
padding: 0% 25% 0% 25%;
} 

.dropdown-content>button{
 width:100%;
}

#myBtn{
width: 10%;
}


#consoled{ 
text-align: center;
border: 2px solid white; 
background-color: #09214E;
color:#F4F4F4;
min-height: 7em;
max-height: 7em;
min-width:320px;
max-width:320px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
font-size: 0.7em;
}

#colorDiv{  
border: 2px solid black;
padding: 0% 30% 0% 30%;
} 

#addColor{ 
margin: 40px; 
} 

#showcolor{
    height:5px;
    background-color: white;
    border:1px solid black;

}

#addbutton, #addWidth, #inputWidth, #inputtext, #showcolor, #selectColor{
width:100%;
margin-left:0px; 
} 

#jayson{ 
border:2px solid white; 
min-height: 30px;
max-height: 50px;
min-width: 346px;
max-width: 346px;
text-align: center;
background-color: #09214E; 
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9); 
color:#F4F4F4;
font-size: 0.7em;
}


#style{
padding: 0px 15px;
min-width: 178px;
max-width: 178px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
background: rgb(249,252,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A7AB8D', endColorstr='#A7AB8D',GradientType=0 ); /* IE6-9 */
box-shadow: 8px 8px 8px 3px rgba(0,0,0,0.7);
font-size: 0.7em;
}
