::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white; 
}

body{
    
    background-color: #2c3e50;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    font-weight: 700;
}

#lista{

    list-style-type: none;
    margin: auto;

}


.books-li{
    display: -webkit-flex;
    display: flex;
    height: 2em;
    width: 100vw;    
}

.titleandAuthor{

    position: absolute;
    height: 100%;
    background-color:  white;
    list-style-type: none;
    
}

.titleandAuthor:hover{

    cursor: pointer;
    background-color:  white;

    
}

.new-input{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    border: none;
    font-size: 1.4vw;
    
}

.material-icons{
    
    position: absolute;
    width:10%;
    cursor: pointer;
    margin-top: 0.5vh;
    right: 20%;
    z-index: 100;
    display: inline-block;
    transition: 0.5s ease;
    
}

.material-icons:hover{

    color: lightgrey;
}

@media screen and (min-width: 611px) {
.list-div{
    
    position: absolute;
    outline: 3px solid black;
    width: 100vw;
    height: 60vh;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    text-align: center;
    font-size: 1em;
    overflow-x: hidden;
    
}
    
    .addfromotherdiv{
    position: absolute;
    top: 0;
    display: block;
    width: 33.3%;
    left: 33.3%;
    height: 100%;
    background-color: lightgrey;
    margin: 0;
    margin-top: 0;
}

.addbookdiv{
    position: absolute;
    top: 0;
    display: block;
    width: 33.3%;
    height: 100%; 
    margin: 0vw;
    margin-top: 0;
}

.searchdiv{
    position: absolute;
    left: 66.6%;
    display: block;
    width: 33.3%;
    height: 100%;
    margin: 0;
    margin-top: 0;
}
    
}

@media screen and (max-width: 610px) {
.list-div{
    
    position: absolute;
    outline: 3px solid black;
    width: 100vw;
    height: 60vh;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    text-align: center;
    font-size: 1em;
    overflow-x: hidden;
    
}
    
.addfromotherdiv{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.addbookdiv{
    display: inline-block;
    width: 100%;
    height: 100%; 
    margin: 0vw;
}

.searchdiv{
      display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
}
    
}

.input-div{
    position: absolute;
    border: 3px solid black;
    width: 100vw;
    height: 40vh;
    left: 0;
    top: 60vh;
    z-index: 200;
    overflow-y: scroll;
    overflow-x: hidden;
}

.addbookinput{
    display: inline-block;
    height:33.3%;
    width: 100%;
    margin: 0;
    background-color: #bdc3c7;
    border: none;
}

.addbookinput:focus{
filter: brightness(0.5)
}

.addbookfromotherinput{
    display: inline-block;
    height:49%;
    width: 100%;
    margin: 0;
    background: none;
    border: none;
}

.addfromotherdiv input, .addbookdiv input {
    text-align: center;    
}
.searchinput{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
}

.addfromotherdiv{
            
background-color: #95a5a6;
text-align: center;
}



.addbookdiv{
background-color: #7f8c8d;
text-align: center;
}

.searchdiv{
background-color: #bdc3c7;
}

input{
    
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1em;
}


#divoveraddbook, #divoveraddfromother{
    border: 2px solid pink;
    height: 100%;
    position: absolute;
    width: 100%;
    color: #2e3b4f;
    transition: 0.5s ease;
    
}

#divoveraddbook{
    
    background-color: #bdc3c7;
    
}

#divoveraddfromother{
    
    background-color: #95a5a6;
    
}

#divoveraddbook:hover, #divoveraddfromother:hover, .searchdiv:hover{
    filter: brightness(150%);
   color:  #607493;
    
}
