body{
 font-family: 'Abel', sans-serif;   
    
}

::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}
 
::-webkit-scrollbar-track {
    background-color: lightgrey; 
}
 
::-webkit-scrollbar-thumb {
    background-color: white;

}

input{
    font-family: 'Abel', sans-serif;   
    outline: none;
    font-weight: 700;
}

input::placeholder{
    
    font-size: 1em;
    color: white;
    size: 1em;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 1em;
    color: pink
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 1em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 1em;
}

@media screen and (min-width: 301px) {
.app-container{
    position: absolute;
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    width: 300px;
    left: 35vw;
    height: 400px;
    top: 50px;
    }
}

@media screen and (max-width: 300px) {
    
    .app-container{
    position: absolute;
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    width: 98vw;
    left: 35vw;
    height: 400px;
    top: 50px;
    }
}

.form-container{
    
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 58%;
    height: 9%
    
}


#product, #price{
    background-color: lightgrey;
    border: 1px solid black;
    color: white;
    font-size: 1.4vw;
    height: 49%;
    
}


#addButton:hover{
    
    background-color: white;
    color: black;
    border: 1px solid black;
    
}
#addButton{
    position:absolute;
    width: 33%;
    height: 116%;
    right: -33%;
    font-family: 'Abel', sans-serif;
    background-color: grey;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.edit-div{
    position:absolute;
    top 0; left: 77%;
    border: 1px solid black;
    width: 23%;
    height: 10%;
    color: black;
    cursor: pointer;
    background-color: white;
}

.edit-symbol{
 color:#755125;
font-size: 2em;
}
.done-button{
    color: green;
    
}


.edit-button, .done-button{
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
    font-size: 2em;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s ease;
    
}

.edit-button:hover{
    
    background-color: #755125;
    color: white;
}

.done-button:hover{
    
    background-color: green;
    color: white;
}

.edit-button:hover .edit-symbol{
    
    color: white;
}

.done-div{
    position: fixed;
    top 0px; left: 3px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
}

.list-container{
    
    position:absolute;
    top: 10.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0%;
    font-size: 1em;
    height:89%;
     overflow-y: auto;
    overflow-x:hidden;
}

.categories{
    position: absolute;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    
}

.categories-child{
    
    width: 48%;
    font-weight: 700;
    
}

ul{ 
    position: relative;
    top: 2%;
    width: 110%;
    height: 83%;
    list-style: none;
}
.object-li{
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.9vw;
    width: 114%;
    border-bottom: 1px solid lightgrey;
    height: 11%;
    margin-left: -16%;
    padding-left: 3%;
    padding-right:0%;
    margin-top: -0%;
    z-index: 8;
}
.object-li:hover{
    background-color: lightgrey;
}

.none-editable-li{
    
    cursor: pointer;
    
}



.li-span{
    
    display:inline-block;
    width: 50%;
    border: none;
   outline: none;
    height: 150%;
    
}

.list-input{
    display:inline-block;
    position: relative;
    top: -6.5%;
    width: 45%;
    height: 81%;
    background-color: rgba(0,0,0,0);
    color: black;
    margin-top: -8%;
    list-style-type: none;
    outline: none;
    border: none;
    
}


.delete-button{
    display: block;
    position: relative;
    top: -100%;
    font-size: 0.5em;
    color: red;
    background-color: rgba(0,0,0,0);
    color: red;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s ease;
    z-index: 20;
    left: 80%;
    width: 15%;
    height: 100%;
}
.button-span{
    
    color: red;
    
}





.done-div{
    position: absolute;
    border: 2px solid black;
    right:0;
    width: 11%;
    
}

.to-delete{
    
    background-color: orange;
    color: white;
}

.to-delete:hover{
    
    background-color: orange;
    color: white;
}

input>i{
    font-size: 1em;
    
}