button{
    
    height: 30px;
    background:none;
    border: 1px solid black;
    
}

.active{
    
    background-color: green;
    color: white;
    
}

.not-active{
    
    background-color: white;
    color: black;
    
}

.most-clicked{
    background-color: red;
    color: white;
    
}

.section-one, .section-two, .section-three{
position: relative;
    
    display: flex;
    flex-direction: row;
    
}

.section.one{
    
    top: 300px;
    border: 1px solid blue;
    
}

.section-one>input, .section-one>div{
    
    border:1px solid blue;
    height: 50px;
    font-size: 2em;
    
}